VITE_ADFIT_HOME_DESKTOP=
VITE_ADFIT_HOME_MOBILE=
VITE_ADFIT_COURSE_DESKTOP=
VITE_ADFIT_COURSE_MOBILE=
VITE_ADFIT_HOME_SECONDARY_DESKTOP=
VITE_ADFIT_HOME_SECONDARY_MOBILE=
VITE_ADFIT_COURSE_SECONDARY_DESKTOP=
VITE_ADFIT_COURSE_SECONDARY_MOBILE=
